<ion-header-bar>
  <button class="button button-icon icon ion-home"></button>
  <h1 class="title">Student Corner</h1>
  <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
</div>
</ion-header-bar>
<ion-content padding="true">
   <div>
        Hello, <label><b>{{username1}}</b></label>
    </div>

<div>
  <!--<button class="button button-block button-positive padding-horizontal" ng_click="frequentusers()">
    Frequently Visited Users
  </button>-->
  <button class="button button-block button-positive padding-horizontal" ng_click="addaccountspage()">
    Add Accounts
  </button>
     <button class="button button-block button-positive padding-horizontal" ng_click="profile()">Profile</button>
    <button class="button button-block button-positive padding-horizontal" ng_click="twitterAuth()"> User Twitter Timeline</button>
  <button class="button button-block button-positive padding-horizontal" ng_click="twitterUser()">Twitter Profile</button>
     <!--<button class="button button-block button-positive padding-horizontal" ng_click="gmailAuth()">Authenticate Gmail</button>-->
  <button class="button button-block button-positive padding-horizontal" ng_click="fbAuth()">Facebook Profile</button>


  <button class="button button-block button-positive padding-horizontal" ng_click="direct_linkedin()">
   LinkedIn Profile
  </button>

</div>
</ion-content>

